@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

:root {
    --main_background: #3A4750;
    --darkshade_background: #303841;
    --darkshade_opacity: rgba(48, 56, 65, 0.6);
    --darkshades_opacity: rgba(48, 56, 65, 0.9);
    --shade_background: #29A19C;
    --accent-colour1: #E23E57;
    --accent_colour2: #29A19C;
    --text-color: #EEEEEE;
    --side-bar-color: #222f3e;
    
    /*
    --main_background: #FEFAD4;
    --darkshade_background: #765D69;
    --darkshade_opacity: rgba(118, 93, 105, 0.6);
    --shade_background: #7e7076;
    --accent_colour1: #FCD0BA;
    --accent_colour2: #F1828D;
    */
}

html {
    scroll-behavior: smooth;
}

.fixed_container > .sidebar {
    position: fixed;
    width: 90px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 50px;
    overflow-x: hidden;
    background: var(--side-bar-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fixed_container > .sidebar > a {
    text-decoration: none;
}

.fixed_container > .sidebar > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70px;
    height: 70px;
    margin: 20px 0px;
    transition: 0.1s all ease;
}

.fixed_container > .sidebar > a > div:hover {
    border-bottom: 4px solid var(--accent-colour1);
    border-right: 4px solid var(--accent-colour1);
}

.fixed_container > .sidebar > a > div > span {
    font-size: 50px;
    color: var(--accent_colour2);
}

.colour_theme > ion-icon {
    font-size: 40px;
    color: var(--accent_colour2);
    margin: 20px 0px;
}


.profile_section {
    position: absolute;
    font-size: 50px;
    color: var(--accent_colour2);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 60px;
    height: 60px;
    background: var(--accent_colour2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_section > img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.fixed_container > .sidebar > a > div > ion-icon {
    font-size: 50px;
    color: var(--accent_colour2);
}

.fixed_container > .contact_container {
    position: fixed;
    width: 100px;
    height: 400px;
    left: 110px;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: end;
}

.fixed_container > .contact_container > div > .style_line1 {
    width: 10px;
    height: 100px;
    background: var(--darkshade_background);
    margin: 0px auto;
}

.fixed_container > .contact_container > div > a > .reference {
    width: 70px;
    height: 70px;
    background: var(--darkshade_background);
    margin: 10px 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed_container > .contact_container > div > a > .reference > ion-icon {
    font-size: 40px;
    color: var(--accent_colour2);
    transition: 0.1s all ease;
}

.fixed_container > .contact_container > div > a:hover > .reference > ion-icon {
    color: var(--accent-colour1);
}

.fixed_container > .contact_container > div > .style_line {
    width: 10px;
    height: 100vh;
    background: var(--darkshade_background);
    margin: 0px auto;
}

.fixed_container > .email_container {
    position: fixed;
    width: 100px;
    height: 100vh;
    right: 20px;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: end;
}

.fixed_container > .email_container > div > .style_line1 {
    width: 10px;
    height: 100px;
    background: var(--darkshade_background);
    margin: 0px auto;
}

.fixed_container > .email_container > div > .email_content {
    font-size: 32px;
    color: var(--accent_colour2);
    font-weight: bold;
    width: 500px;
    height: 500px;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed_container > .email_container > div > .style_line {
    width: 10px;
    height: 100vh;
    background: var(--darkshade_background);
    margin: 0px auto;
}

.background_display {
    position: relative;
    z-index: 1;
    left: 90px;
    width: calc(100% - 90px);
}

.background_display > img {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.background_image {
    position: relative;
    z-index: 1;
    left: 90px;
}

.background_image > img {
    position: fixed;
    width: 75%;
    height: 100vh;
}


/*
.fixed_container > .email_container > .style_line2 {
    width: 10px;
    height: 100vh;
    background: var(--darkshade_background);
    margin: 0px auto;
}

.fixed_container > .email_container > div:nth-child(1) {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding-bottom: 20px;
    background: blue;
    text-align: start;
}

.fixed_container > .email_container > div:nth-child(1) > .email_reference {
    transform: rotate(90deg);
    font-size: 40px;
    font-family: sans-serif;
    color: var(--darkshade_background);
    width: 300px;
    position: absolute;
    background: var(--main_background);
    bottom: 300px;
    text-align: center;
}
*/

.grid_container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin-left: 90px;
    background: var(--darkshades_opacity);
    z-index: 1;
}

/* ----------------------- WELCOME PAGE --------------------------- */

.grid_container > .welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_info {
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 65%;
    margin-top: 200px;
    padding: 0px 7%;
    flex-direction: column;
}

.title {
    font-size: 5em;
    color: var(--text-color);
}

.software_title {
    font-size: 20px;
    font-family: monospace, sans-serif;
    margin-top: 20px;
    color: var(--accent-colour1);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 5px;
    transition: 0.2s all ease-in;
}

.welcome_description {
    font-size: 20px;
    margin-top: 20px;
    color: var(--text-color);
    line-height: 30px;
}

.control_buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: row;
}

.control_buttons > a {
    text-decoration: none;
}

.control_buttons > a {
    width: 125px;
    height: 50px;
    margin: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--accent_colour2);
    color: var(--shade_background);
    font-size: 20px;
    font-weight: bold;
    transition: 0.1s all ease-in;
}

.control_buttons > a:hover {
    color: var(--main_background);
    background: var(--shade_background);
}

.skills_container {
    width: 65%;
    height: 900px;
    background: var(--darkshade_background);
    margin-top: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.skills_container > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--darkshade_background);
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
    right: 0;
    position: absolute;
    border: 5px solid var(--main_background);
    transition: 0.1s all ease-in;
    z-index: 3;
}

.skills_container > div:nth-child(1) > ion-icon {
    font-size: 50px;
    color: var(--main_background);
    transition: 0.1s all ease-in;
    z-index: 3;
}

.skills_container > div:nth-child(1):hover {
    background: var(--accent_colour2);
    z-index: 3;
}

.skills_container > div:nth-child(1):hover > ion-icon {
    color: var(--text-color);
    z-index: 3;
}

.skills_container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.skills_container > div:nth-child(2) h2 {
    font-size: 30px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    z-index: 1;
}

.skills_container > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    z-index: 1;
    position: relative;
}

.skills_container > div:nth-child(3) > div {
    width: 70px;
    height: 70px;
    margin: 20px 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.show_text {
    position: absolute;
    top: 0;
    margin-top: -30px;
    background: var(--accent-colour1);
    width: 125px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.active_show_text {
    opacity: 1;
}

.show_text > p {
    font-size: 16px;
    color: var(--text-color);
}

.skills_container > div:nth-child(3) > div > ion-icon {
    font-size: 40px;
    color: var(--accent_colour2);
}

.skills_container > div:nth-child(3) > div > i {
    font-size: 40px;
    color: var(--accent_colour2);
}

.skills_container > div:nth-child(3) > div > iconify-icon {
    font-size: 40px;
    color: var(--accent_colour2);
}


/* ----------------------- PROJECTS PAGE --------------------------- */

.grid_container > .projects {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_container > .projects .project_title {
    width: 65%;
    height: 200px;
    background: var(--darkshade_background);
    border-top: 5px solid var(--main_background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
}

.grid_container > .projects .project_title > p {
    font-size: 40px;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.project_container {
    width: 65%;
    height: 100%;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background: var(--darkshade_opacity);
}

.project_container .project_grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}

.project_container .project_grid > div:nth-child(1) {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-left: 175px;
}

.project_container .project_grid .project_title_scroll {
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.project_container .project_grid .project_title_scroll::-webkit-scrollbar {
    width: 15px;
}

.project_container .project_grid .project_title_scroll::-webkit-scrollbar-track {
    background: var(--darkshade_background);
}

.project_container .project_grid .project_title_scroll::-webkit-scrollbar-thumb {
    background: var(--shade_background);
}

.project_container .project_grid .project_title_scroll > li {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.1s all ease-in;
    text-align: center;
}

.project_container .project_grid .project_title_scroll > li:nth-child(odd) {
    background: var(--darkshade_opacity);
    transition: 0.1s all ease-in;
}

.project_container .project_grid .project_title_scroll > li:hover {
    color: var(--accent_colour2);
    background: var(--darkshade_opacity);
    font-weight: bold;
    letter-spacing: 0.05em;
}

.project_infos {
    position: relative;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
}

.project_infos .info {
    position: absolute;
    width: 75%;
    height: 75%;
    background: var(--main_background);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.project_infos .info > * {
    position: absolute;
    z-index: 1;
}

.project_infos .info .project_controls {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.project_infos .info .project_controls > a {
    width: 50px;
    height: 50px;
    background: var(--darkshade_background);
    margin: 0px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.project_infos .info .project_controls > a:hover > div > ion-icon {
    font-size: 40px;
    color: var(--accent-colour1);
}

.project_infos .info .project_controls > a:hover > div > span {
    font-size: 40px;
    color: var(--accent-colour1);
}

.project_infos .info .project_controls > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_infos .info .project_controls > a > div > ion-icon {
    font-size: 30px;
    color: var(--main_background);
    transition: 0.1s all ease-in;
}

.project_infos .info .project_controls > a > div > span {
    font-size: 30px;
    color: var(--main_background);
    transition: 0.1s all ease-in;
}

.project_infos .info .project_specific_info {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.project_infos .info .project_specific_info h2 {
    font-size: 30px;
    color: var(--accent_colour2);
    letter-spacing: 0.01em;
    background: var(--darkshade_opacity);
    padding: 10px;
    border-radius: 10px;
}

.project_infos .info .project_specific_info p {
    font-size: 20px;
    color: var(--text-color);
    margin-top: 50px;
    line-height: 30px;
}

.project_infos .info .skills_used {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project_infos .info .skills_used > p {
    font-size: 16px;
    color: var(--accent_colour2);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin: 5px 20px;
}

.cheatsheet_info, .materials_info, .message_mixer_info, .movie_database_info, 
.todolist_info, .photo_organizer_info, .todoapp_info, .calories_info, .weather_info,
.calculator_info {
    opacity: 0;
}

.active-projects {
    opacity: 1;
}


/* ----------------------- ABOUT PAGE --------------------------- */

.grid_container > .about {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.grid_container > .about .about_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.grid_container > .about .about_title p {
    font-size: 40px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: bold;
}

.flex_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 65%;
    height: calc(100vh - 100px - 20px - 40px);
    margin: 20px auto;
    position: relative;
    background: var(--darkshade_opacity);
    border-radius: 20px;
    /*
    border-left: 5px solid var(--darkshade_background);
    border-right: 5px solid var(--darkshade_background);
    */
}

.grid_about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.grid_about > div {
    position: relative;
    width: 600px;
}

.grid_about > div > div {
    width: 55%;
    height: 100px;
    background: var(--darkshade_background);
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 5px var(--main_background);
    border-bottom: 2px solid var(--accent_colour2);
}

.grid_about > div > div > div {
    margin: 0px 10px;
}

.icon_about {
    font-size: 35px;
    color: var(--shade_background);
}

.about_text > p {
    font-size: 16px;
    color: var(--text-color);
}

.json_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    white-space: break-spaces;
    font-weight: bold;
    position: relative;
    right: 0;
    margin-top: 40px;
    margin-right: 20px;
}

.json_container > p {
    color: var(--accent_colour2);
}

.json_result {
    color: #1abc9c;
}



/* ----------------------- CONTACT PAGE --------------------------- */

.grid_container > .contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    padding: 0px 17%;
    border-left: 5px solid var(--accent_colour2);
    border-right: 5px solid var(--accent_colour2);
}

.contact_content h1 {
    font-size: 40px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin-bottom: 5px;
}

.contact_content h2 {
    font-size: 30px;
    color: var(--accent-colour1);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact_content > p:nth-child(3) {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;
}

.contact_content > p:nth-child(4) {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 15px;
    background: var(--accent_colour2);
    padding: 5px;
    width: 90%;
    border-radius: 20px;
}

.contact_buttons_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}

.contact_buttons_row > a {
    width: 140px;
    height: 50px;
    color: var(--accent_colour2);
    border: 2px solid var(--accent_colour2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.1s all ease-in;
    margin: 0px 20px;
    text-decoration: none;
}

.contact_buttons_row > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_buttons_row > a > div > ion-icon {
    font-size: 25px;
}

.contact_buttons_row > a > div > * {
    margin: 0px 5px;
}

.contact_buttons_row > a:hover {
    background: var(--accent_colour2);
    color: var(--text-color);
    border: 5px solid var(--accent_colour2);
    letter-spacing: 0.1em;
}

/* ----------------------- AUTHOR PAGE --------------------------- */

.grid_container > .author {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_container > .author > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100px;
    position: relative;
}

.author_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.author_content > p {
    margin: 10px 0px;
    font-size: 20px;
    color: #222f3e;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
}

.scroll_up {
    position: absolute;
    width: 70px;
    height: 70px;
    background: var(--darkshade_background);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    margin: auto 20px;
    transition: 0.1s all ease-in;
    z-index: 10;
}

.scroll_up ion-icon {
    font-size: 50px;
    color: var(--main_background);
    transition: 0.1s all ease-in;
    z-index: 10;
}

.scroll_up:hover {
    background: var(--accent_colour2);
    border: 5px solid var(--accent_colour2);
    z-index: 10;
}

.scroll_up:hover > ion-icon {
    color: var(--text-color);
    z-index: 10;
}

@media only screen and (max-width: 1750px) {
    .welcome {
        margin-bottom: 425px;
    }

    .grid_container > .about {
        height: 200vh;
    }

    .flex_about {
        flex-direction: column;
        height: 175vh;
        padding: 20px;
    }

    .grid_about {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1670px) {
    .skills_container {
        height: 450px;
    }

    .grid_container > .welcome {
        height: calc(100vh + 90px);
    }
}

@media only screen and (max-width: 1550px) {
    .project_container .project_grid .project_title_scroll > li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1530px) {
    .skills_container {
        height: 550px;
    }

    .grid_container > .welcome {
        height: calc(100vh + 220px);
    }
}

@media only screen and (max-width: 1350px) {
    .fixed_container {
        display: none;
    }

    .grid_container {
        margin-left: 0px;
    }

    .background_display {
        left: 0;
    }

    .background_image {
        left: 0;
    }

    .grid_container > .welcome {
        height: 175vh;
    }

    .title {
        font-size: 2.5em;
    }

    .software_title {
        font-size: 16px;
    }

    .welcome_description {
        font-size: 16px;
    }

    .skills_container {
        height: 600px;
    }

    .grid_container > .welcome {
        height: calc(100vh + 200px);
    }

    .grid_container > .about {
        height: 200vh;
    }

    .flex_about {
        flex-direction: column;
        height: 175vh;
        padding: 20px;
    }

    .grid_about {
        padding-top: 40px;
    }

    .contact_content {
        border: none;
        padding: 0;
    }

    .contact_content > p:nth-child(4) {
        font-size: 16px;
    }

    .contact_buttons_row {
        flex-direction: column;
    }

    .contact_buttons_row > a {
        margin-bottom: 10px;
    }

    .project_click > ul {
        display: none;
    }

    .grid_container > .projects {
        height: 470vh;
    }

    .project_infos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .project_infos .info .skills_used {
        position: relative;
        width: 100%;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .project_container .project_grid > div:nth-child(1) {
        width: 0%;
        padding: 0;
    }
    
    .project_infos .info {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        height: auto;
    }

    .project_infos .info .project_specific_info p {
        font-size: 16px;
        margin-top: 15px;
    }

    .project_infos .info .skills_used > p {
        font-size: 12px;
    }

    .cheatsheet_info, .materials_info, .message_mixer_info, .movie_database_info, 
    .todolist_info, .photo_organizer_info, .todoapp_info, .calories_info, .weather_info, .calculator_info {
        opacity: 1;
    }

    .scroll_up {
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    .skills_container {
        height: 700px;
    }

    .grid_container > .welcome {
        height: calc(100vh + 350px);
    }
}

@media only screen and (max-width: 700px) {
    .skills_container {
        height: 700px;
    }

    .grid_container > .welcome {
        height: calc(100vh + 450px);
    }
}

@media only screen and (max-width: 650px) {
    .grid_container > .welcome {
        height: calc(100vh + 700px);
    }
    .skills_container {
        height: 1400px;
    }

    .grid_container > .projects {
        height: 800vh;
    }

    .project_infos {
        width: 100%;
        height: auto;
    }

    .project_infos .info .skills_used {
        position: relative;
        width: 100%;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .grid_container > .about {
        height: 275vh;
    }

    .flex_about {
        flex-direction: column;
        height: 230vh;
        padding: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .grid_container {
        background: var(--darkshade_opacity);
        width: 479px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

    .grid_container > .welcome {
        width: 479px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow: hidden;
    }

    .welcome_info {
        display: flex;
        justify-content: center;
        text-align: justify;
        width: 90%;
        margin-top: 200px;
        padding: 0px 7%;
        flex-direction: column;
    }

    .skills_container {
        height: 700px;
    }

    .skills_container > div:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        z-index: 1;
        position: relative;
    }

    .grid_container > .projects {
        height: 100%;
        align-items: center;
        width: 479px;
        overflow: hidden;
    }

    .project_infos {
        width: 100%;
        height: auto;
    }

    .project_infos .info .skills_used {
        position: relative;
        width: 100%;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .grid_container > .about {
        height: 100%;
        width: 479px;
    }

    .flex_about {
        flex-direction: column;
        height: 90%;
        padding: 20px;
    }

    .grid_about > div > div {
        width: 40%;
        height: auto;
        background: var(--darkshade_background);
        margin: 10px auto;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        box-shadow: 0px 5px var(--main_background);
        border-bottom: 2px solid var(--accent_colour2);
    }

    .grid_container > .contact {
        width: 479px;
        overflow: hidden;
    }

    .grid_container > .author {
        width: 479px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 2560px) {
    .welcome {
        height: 100%;
    }

    .skills_container {
        height: auto;
    }

    .projects {
        height: 100%;
    }
}

@media only screen and (max-width: 1440px) {
    .welcome {
        height: 100%;
        margin-bottom: 0px;
    }

    .welcome_info {
        width: 75%;
    }

    .projects {
        margin-top: -60px;
    }
}

@media only screen and (max-width: 1024px) {
    .skills_container {
        height: auto;
        margin-bottom: 20px;
    }

    .grid_container > .projects {
        height: auto;
        margin-bottom: 20px;
    }

    .project_container {
        height: auto;
    }

    .project_infos {
        height: auto;
    }
}

@media only screen and (max-width: 850px) {
    .skills_container {
        height: auto;
    }

    .projects {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .skills_container {
        height: auto;
    }

    .projects {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 425px) {
    .grid_container {
        width: auto;
        align-items: center;
        justify-content: center;
        background: var(--darkshades_opacity);
    }

    .grid_container > div {
        width: auto;
    }
    
    .grid_container > .welcome {
        height: auto;
    }

    .welcome_info {
        width: 90%;
        margin-top: 100px;
    }

    .welcome_info > .software_title {
        font-size: 14px;
    }

    .control_buttons > a {
        margin: 0px 20px;
    }
    .projects {
        margin-top: -20px;
    }

    .skills_container > div:first-child {
        display: none;
    }
    
    .author {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .welcome_info {
        width: 75%;
    }

    .welcome_info > .title {
        font-size: 2em;
    }

    .author {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .welcome_info > .welcome_description {
        font-size: 14px;
    }

    .contact > .contact_content > p:nth-child(3) {
        font-size: 16px;
    }

    .author {
        margin-bottom: 20px;
    }
}